<table class="table">
  <thead>
    <tr>
      <th style="width:%">课程名称</th>
      <th style="width:25%">上课时间</th>
      <th style="width:25%">签到或测验</th>
      <th style="width:20%"><button class="btn btn-large btn-primary addCoursebtn" type="button" onclick="javascript:loadContent('addcourse')">新建课程</button></th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <td><a class="btn" href="/coursedetail?id={{course_id}}">{{course_name}}</td>
      <td><a class="btn" href="/coursedetail?id={{course_id}}">{{course_time}}</td>
      <td><a class="btn" href="/createsignin?course={{course_id}}">开始签到</a>
      <a class="btn" href="/createexam?course={{course_id}}">开始测验</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
