<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>
    <title>{{title}}</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" >
    <link href="/stylesheets/exam.css" rel="stylesheet">
</head>
<body>
    <section>
      <h1>{{examname}}</h1>
    </section>
    <!--试题详情-->
    <section>
      <form action="/exam" method="POST" id="examform">
      {{#unless preview}}
      学号 <input type="number" name="studentid"><br>
      姓名 <input type="text" name="name">
      {{/unless}}
      <ol>
        {{#each exam}}
        <li class="eachdescription">{{description}}</br>
        {{#if question_selection}}
          {{#each selectionSet}}
          <input type="checkbox" name="{{../id}}" value="{{@index}}" {{lookup ../answer @index}} />
          <label>{{lookup ../label @index}}</label><label class="eachselection">{{this}}</label><br/>
          {{/each}}
        {{else if question_judgeanswer}}
          <input type="radio" name="{{id}}" value="1" {{answer_right}}>正确<br>
          <input type="radio" name="{{id}}" value="0" {{answer_wrong}}>错误
        {{else}}
          <textarea name="{{@index}}" form="examform" rows="3" cols="30" overflow-y="scroll">{{answer}}</textarea>
        {{/if}}
        </li>
        {{/each}}
      </ol>
      {{#unless preview}}
      <button type="submit">提交</button>
      {{/unless}}
      </form>
    </section>
</body>
</html>
