<table class="table">
  <thead>
    <tr>
      <th>课程名称</th>
      <th>上课时间</th>
      <th>学生人数</th>
      <th>签到或测验</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <td><a class="btn" onclick="lc('coursedetail?cid={{course_id}}')">{{course_name}}</td>
      <td><a class="btn" onclick="lc('coursedetail?cid={{course_id}}')">{{course_time}}</td>
      <td><a class="btn" onclick="lc('coursedetail?cid={{course_id}}')">{{student_num}}</td>
      <td><a class="btn btn-default" target="_blank" href="/home/createsignin?cid={{course_id}}">开始签到</a>
      <a class="btn btn-default" onclick="lc('createexam?cid={{course_id}}')">创建测验</a></td>
    </tr>
    {{/each}}
    <tr>
      <td></td>
      <td><a class="btn addcoursebtn" onclick="lc('addcourse')">+</a></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
