{{#unless onlystu}}
<div class="row sign-exam">
  <div class="col-md-5 panel margin-20 panel-green">
    <div class="panel-heading">
      最近签到
    </div>
    <table class="panel-body table line-btn">
      <thead>
        <tr>
          <th>签到创建时间</th>
          <th>已签学生</th>
        </tr>
      </thead>
      <tbody>
        {{#each signins}}
        <tr onclick="signinClick({{sign_id}})">
          <td>{{time}}</td>
          <td>{{sign_num}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="panel-footer text-center">
      <a href="#signin" onclick="setFilter('cid={{course_id}}')">查看全部</a>
    </div>
  </div>
  <div class="col-md-5 panel margin-20 panel-yellow">
    <div class="panel-heading">
      最近测验
    </div>
    <table class="panel-body table line-btn">
      <thead>
        <tr>
          <th>测验名称</th>
          <th>已测学生</th>
        </tr>
      </thead>
      <tbody>
        {{#each exams}}
        <tr onclick="examClick({{exam_id}})">
          <td>{{exam_name}}</td>
          <td>{{exam_num}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="panel-footer text-center">
      <a href="#exam" onclick="setFilter('cid={{course_id}}')">查看全部</a>
    </div>
  </div>
</div>
<hr>
{{/unless}}
{{#if students}}
<div class="row">
  <div class="panel panel-primary margin-20 course-student col-md-11">
    <div class="panel-heading">
      统计数据
    </div>
    <table class="panel-body table table-striped">
      <thead>
        <tr>
          <th>学号</th>
          <th>姓名</th>
          <th>签到次数</th>
          <th>测验次数</th>
          <th>测验总分</th>
        </tr>
      </thead>
      <tbody>
        {{#each students}}
        <tr>
          <td>{{id}}</td>
          <td>{{name}}</td>
          <td><a class="btn" href="#stusignin?cid={{course_id}}&student={{studentid}}">{{sign_num}}</a></td>
          <td><a class="btn" href="#stuexam?cid={{course_id}}&student={{studentid}}">{{exam_num}}</a></td>
          <td><a class="btn" href="#stuexam?cid={{course_id}}&student={{studentid}}">{{exam_score}}</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{else}}
<div class="jumbotron alert alert-info text-center" role="alert">
  <p>这门课程还没有添加学生名单哦，点此<a href="#coursedetail?cid={{course_id}}">编辑课程</a>吧</p>
</div>
{{/if}}
<script type="text/javascript">
  function signinClick(sid) {
    document.location='#signindetail?cid={{course_id}}&sid='+sid;
  }
  function examClick(eid) {
    document.location='#examresult?cid={{course_id}}&eid='+eid;
  }
</script>