<div class="addcourse col-md-6">
    <h2>课程信息</h2>
	<div class="form-box">
        <div class="form-bottom">
        {{#if course_id}}
        <form role="form" id="contentForm" action="/home/editcourse?cid={{course_id}}" method="post" onsubmit="getstudents();return formSubmit('#contentForm')" class="addcourse-form">
        {{else}}
        <form role="form" id="contentForm" action="/home/addcourse" method="post" onsubmit="getstudents();return formSubmit('#contentForm')" class="addcourse-form">
        {{/if}}
        	<div class="form-group">
        		<label class="sr-only" for="form-coursename">课程名称</label>
            	<input type="textarea" name="form_coursename" placeholder="课程名称" class="form-coursename form-control" id="form-coursename" value="{{course_name}}" required>
            </div>
            <div class="form-group">
            	<label class="sr-only" for="form-coursetime">上课时间</label>
            	<input type="text" name="form_coursetime" placeholder="上课时间" class="form-coursetime form-control" id="form-coursetime" value="{{course_time}}" required>
            </div>
            <div class="form-group">
                <label class="sr-only" for="form-courseinfo">课程信息</label>
                <input type="text" name="form_courseinfo" placeholder="课程信息" class="form-courseinfo form-control" id="form-courseinfo" value="{{course_info}}">
            </div>
            <input id="stulistinput" type="text" name="students" value="">

            <div id="tablebtn">
                <h3>编辑学生名单</h3>
                <input type="file" class="file" data-show-remove="false" data-show-preview="false" data-show-upload="false" data-show-caption="false" data-browse-label="从Excel文件导入"
                data-browse-class="btn btn-large btn-default btn-block" id="upload" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" data-allowed-file-extensions='["xlsx"]' onchange="importlist(this.files)" />
                <a class="btn btn-large btn-default btn-block" id="savestu" onclick="exportlist('{{course_name}}-学生名单')">导出为Excel文件</a>
                <a class="addbtn btn btn-large btn-default btn-block" id="addtd" onclick="addstudent();setEditable()">添加空白行</a>
                <a class="btn btn-large btn-default btn-block" onclick="deleteConfirm('所有学生', '导入Excel文件时不需要手动清空名单', clearTable)">清空学生名单</a>
            </div>

            <div class="form-button">
                <button type="submit" class="btn btn-primary addCoursebtn btn-block">
                {{#if course_id}}修改课程{{else}}新建课程{{/if}}
                </button>
                {{#if course_id}}
                <a class="btn btn-danger btn-block" onclick="deleteConfirm('课程《{{course_name}}》', '与本课程关联的签到和测验也将删除！', ()=>loadContent('deletecourse?cid={{course_id}}'))">删除课程</a>
                {{/if}}
            </div>
        </form>
        </div>
    </div>

</div>

<div class="col-md-3">
    <h2>学生名单</h2>
    <div class="stulist">
        <table cellpadding="0" cellspacing="0" id="stutable" class="table table-hover table-condensed table-bordered">
            <thead>
                <tr>
                  <th id="stuID"  bgcolor="#EFEFEF" EditType="TextBox">学号</th>
                  <th id="stuName" bgcolor="#EFEFEF" EditType="TextBox">姓名</th>
                </tr>
            </thead>
            <tbody>
                {{#each students}}
                <tr>
                  <td>{{id}}</td>
                  <td>{{name}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        setEditable();
        $(".file").fileinput && $(".file").fileinput()
    </script>
</div>

