<div class="btn-group" role="group" aria-label="...">
  <button class="btn btn-large btn-default backbtn" type="button" onclick="lc('..')">返回</button>
</div>
<div class="addcourse container">
	<div class="col-sm-6 form-box" style="">
    	<div class="form-top">
    		<div class="form-top-left">
    			<h3 class="addtitle">{{title}}</h3>
    		</div>
        </div>
        <div class="form-bottom">
        {{#if course_id}}
        <form role="form" id="contentForm" action="/home/editcourse?id={{course_id}}" method="post" onsubmit="getstudents();return formSubmit()" class="addcourse-form">
        {{else}}
        <form role="form" id="contentForm" action="/home/addcourse" method="post" onsubmit="return formSubmit()" class="addcourse-form">
        {{/if}}
        	<div class="form-group">
        		<label class="sr-only" for="form-coursename">课程名称</label>
            	<input type="textarea" name="form_coursename" placeholder="课程名称" class="form-coursename form-control" id="form-coursename" value="{{course_name}}" required>
            </div>

            <div class="form-group">
            	<label class="sr-only" for="form-courseinfo">课程信息</label>
            	<input type="text" name="form_courseinfo" placeholder="课程信息" class="form-courseinfo form-control" id="form-courseinfo" value="{{course_info}}">
            </div>

            <div class="form-group">
            	<label class="sr-only" for="form-coursetime">上课时间</label>
            	<input type="text" name="form_coursetime" placeholder="上课时间" class="form-coursetime form-control" id="form-coursetime" value="{{course_time}}" required>
            </div>


            <input id="stulistinput" type="text" name="students" value="">

            {{#if course_id}}
            <button type="submit" class="addbtn btn btn-large btn-primary addCoursebtn" style="font-size:18px">修改</button>
            {{else}}
            <button type="submit" class="addbtn btn btn-large btn-primary addCoursebtn" style="font-size:18px">新建</button>
            {{/if}}
        </form>
        {{#if course_id}}
        <button class="btn btn-default" onclick="confirm('确认删除本课程？与本课程关联的签到和测验也将删除！')&&lc('deletecourse?id={{course_id}}')">删除课程</button>
        {{/if}}
        </div>
        {{#if error}}
            <div class="alert alert-danger" role="alert">{{error}}</div>
        {{/if}}
    </div>
</div>

<div class="container stulist">
    <div id="tablenav">
        <h2>学生名单</h2>
        {{!-- <button class="btn btn-default" id="editstubtn" onclick="setEditable()">编辑名单</button> --}}
    </div>

    <table width="600" cellpadding="0" cellspacing="0" id="stutable" onclick="setEditable()">

        <tr>
          <td id="stuID"  width="150" bgcolor="#EFEFEF" EditType="TextBox">学号</td>
          <td id="stuName" width="150" bgcolor="#EFEFEF" EditType="TextBox">姓名</td>
        </tr>
        {{#each students}}
        <tr>
          <td>{{id}}</td>
          <td>{{name}}</td>
        </tr>
        {{/each}}
    </table>

    <div id="tablebtn">
        <button type="submit" class="btn btn-large btn-primary" id="getstu" style="font-size:18px">导入名单</button>
        <button type="submit" class="btn btn-large btn-primary" id="savestu" style="font-size:18px">保存名单</button>
    </div>
</div>

