<link href="/stylesheets/exam-detail.css" rel="stylesheet">
<div class="container">
  <div class="col-sm-6 form-box" style="">
      <div class="form-top">
        <div class="form-top-left">
          <h3 class="addtitle">{{title}}</h3>
        </div>
        </div>
        <div class="form-bottom">
          <form role="form" id="contentForm" action="/home/createexam?cid={{course_id}}" method="post"  class="addcourse-form">
          <div class="form-group">
            <label class="sr-only" for="form-examname">测试名称</label>
              <input type="textarea" name="form_coursename" placeholder="测试名称" class="form-coursename form-control" id="exam_name" value="{{examname}}" required>
            </div>
      </form>
    </div>
</div>

<table class="table" id="questiontable">
  <thead>
    <tr>
      <th class="tdid">题号</th>
      <th class="tddes">题目描述</th>
      <th class="tdans">题目答案</th>
      <th class="tdop">操作</th>
    </tr>
  </thead>
  <tbody>
    {{#each question}}
    <tr>
      <td><a class="btn">{{question_id}}</a></td>
      <td><a class="btn">{{question_detail}}</a></td>
      <td><a class="btn">{{question_answer}}</a></td>
      <td><a class="btn btn-default" onclick="">删除题目</a></td>
    </tr>
    {{/each}}
  </tbody>

</table>


<div id="addquestion">
  <button type="submit" class="btn btn-large btn-primary" id="xuanze"  style="font-size:14px" onclick="addselectquestion()">添加选择题</button>
  <button type="submit" class="btn btn-large btn-primary" id="panduan"  style="font-size:14px" onclick="addjudgequestion()">添加判断题</button>
  <button class="addbtn btn btn-large btn-primary" id="jieda" style="font-size:14px" onclick="addlongquestion()">添加解答题</button>
</div>

<div id="exambtn">
  <form role="form" id="examForm" action="/home/createexam?cid={{course_id}}" method="post" onsubmit="getquestion();return formSubmit('#examForm')" class="addcourse-form">
  <input id="examname" type="text" name="examname" value=""/>
  <input id="examinput" type="text" name="exam" value=""/>
  <button type="submit" class="btn btn-large btn-primary" id="saveexam"  style="font-size:14px">保存测试</button>
  <button class="addbtn btn btn-large btn-primary" id="saveandstart" style="font-size:14px">保存并开始</button>
  </form>
</div>
