<div class="container">
  <div class="col-sm-6 form-box" style="">
      <div class="form-top">
        <div class="form-top-left">
          <h3 class="addtitle">{{title}}</h3>
        </div>
        </div>
        <div class="form-bottom">
          <form role="form" id="contentForm" action="/exam/create?cid={{course_id}}" method="post"  class="addcourse-form">
          <div class="form-group">
            <label class="sr-only" for="form-examname">测试名称</label>
              <input type="textarea" name="form_coursename" placeholder="测试名称" class="form-coursename form-control" id="exam_name" value="{{examname}}" required>
            </div>
      </form>
    </div>
  </div>

<table class="table" id="questiontable">
  <thead>
    <tr>
      <th class="tdid">题号</th>
      <th class="tddes">题目描述</th>
      <th class="tdans">题目答案</th>
      <th class="tdop">操作</th>
    </tr>
    {{#each questionsWithAnswer as |question id|}}
    <tr>
      <td>{{idplus1}}</td>
      <td>
        <div>
          <textarea cols="50" rows="4">{{description}}</textarea>
        </div>
      </td>
      {{#if question_selection}}
      <td>
        <div class="eachquestion">
          <div class="rightans"></div>
          <div class="allSelection">
            {{#each selectionSet}}
            <div class="examselection">
              <input type="checkbox" {{lookup ../answer @index}}>{{lookup ../label @index}}<textarea cols="40" rows="1" overflow-y="scroll" class="seletext">{{this}}</textarea></div>
            {{/each}}
        </div>
        <div id="secbtn">
          <button class="btn btn-default delsec" style="font-size:12px" onclick="deleteselection(this.id)" id="delsect{{idplus1}}">删除选项</button>
          <button class="btn  btn-default addsec" style="font-size:12px" onclick="addselection(this.id)" id="select{{idplus1}}">添加选项</button></div>
      </td>
      {{else if question_judgeanswer}}
      <td>
        <div>
          <input type="radio" name="{{idplus1}}" value="1" {{lookup answer 1}}>正确
          <br>
          <input type="radio" name="{{idplus1}}" value="0" {{lookup answer 0}}>错误</div>
      </td>
      {{else}}
      <td>
        <div>
          <textarea cols="50" rows="4">{{answer}}</textarea>
        </div>
      </td>
      {{/if}}
      <td>
      <button class="btn btn-large" style="font-size:4px" onclick="deleteQuestion(this.id)" id="deletebtn{{idplus1}}">删除题目</button></td>
    </tr>
    {{/each}}
  </thead>
</table>


<div id="addquestion" class="container">
  <button class="btn btn-large btn-default" id="xuanze"  style="font-size:14px" onclick="addselectquestion()">添加选择题</button>
  <button class="btn btn-large btn-default" id="panduan"  style="font-size:14px" onclick="addjudgequestion()">添加判断题</button>
  <button class="btn btn-large btn-default" id="jieda" style="font-size:14px" onclick="addlongquestion()">添加解答题</button>
</div>

<div id="exambtn" class="container">
  {{#if eid}}
  <form role="form" id="examForm" action="/exam/edit?cid={{cid}}&eid={{eid}}" method="post" onsubmit="getquestion();return formSubmit('#examForm')" class="addcourse-form">
  {{else}}
  <form role="form" id="examForm" action="/exam/create?cid={{course_id}}" method="post" onsubmit="getquestion();return formSubmit('#examForm')" class="addcourse-form">
  {{/if}}
    <input id="examname" type="text" name="examname" value=""/>
    <input id="examinput" type="text" name="exam" value=""/>
    <button type="submit" class="btn btn-large btn-primary btn-block" id="saveexam">保存试题</button>
  </form>
</div>

</div>
