<div class="container">
  <div class="col-sm-6 form-box" style="">
      <div class="form-top">
        <div class="form-top-left">
          <h3 class="addtitle">{{title}}</h3>
        </div>
        </div>
        <div class="form-bottom">
          <form role="form" id="contentForm" action="/home/createexam?cid={{course_id}}" method="post"  class="addcourse-form">
          <div class="form-group">
            <label class="sr-only" for="form-examname">测试名称</label>
              <input type="textarea" name="form_coursename" placeholder="测试名称" class="form-coursename form-control" id="exam_name" value="" required>
            </div>
      </form>
    </div>
</div>

<table class="table" id="questiontable">
  <thead>
    <tr>
      <th>题号</th>
      <th>题目描述</th>
      <th>题目答案</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {{#each question}}
    <tr>
      <td><a class="btn">{{question_id}}</td>
      <td><a class="btn">{{question_detail}}</td>
      <td><a class="btn">{{question_answer}}</td>
      <td><a class="btn btn-default" target="_blank" href="">编辑题目</a>
      <a class="btn btn-default" onclick="">删除题目</a></td>
    </tr>
    {{/each}}
  </tbody>

</table>


<div id="addquestion">
  <button type="submit" class="btn btn-large btn-primary" id="xuanze"  style="font-size:14px" onclick="addselectquestion()">添加选择题</button>
  <button class="addbtn btn btn-large btn-primary" id="jieda" style="font-size:14px" onclick="addlongquestion()">添加解答题</button>
</div>

<div id="exambtn">
  <form role="form" id="examForm" action="/home/createexam?cid={{course_id}}" method="post" onsubmit="getqusetion();return examformSubmit()" class="addcourse-form">
  <input id="examinput" type="text" name="exam" value="">
  <button type="submit" class="btn btn-large btn-primary" id="saveexam"  style="font-size:14px">保存测试</button>
  <button class="addbtn btn btn-large btn-primary" id="saveandstart" style="font-size:14px">保存并开始</button>
  </form>
</div>
