<table class="table">
  <thead>
    <tr>
      <th>课程名称</th>
      <th>签到创建时间</th>
      <th>学生总人数</th>
      <th>已签到学生</th>
      <th>查看</th>
    </tr>
  </thead>
  <tbody>
    {{#each signin}}
    <tr>
      <td><a class="btn" onclick="lc('coursedetail?id={{course_id}}')">{{name}}</a></td>
      <td><a class="btn" onclick="lc('signindetail?cid={{course_id}}&sid={{sign_id}}')">{{time}}</a></td>
      <td><a class="btn" onclick="lc('coursedetail?id={{course_id}}')">{{stu_num}}</a></td>
      <td><a class="btn" onclick="lc('signindetail?cid={{course_id}}&sid={{sign_id}}')">{{sign_num}}</a></td>
      <td><a class="btn  btn-default" onclick="lc('signindetail?cid={{course_id}}&sid={{sign_id}}')">查看详细</a>
      <a class="btn  btn-default" target="_blank" href="/home/showqrcode?cid={{course_id}}&sid={{sign_id}}">显示二维码</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>