<table class="table">
  <thead>
    <tr>
      <th>签到发起时间</th>
      <th>所属课程</th>
      <th>学生总数</th>
      <th>已签到</th>
      <th>查看和删除</th>
    </tr>
  </thead>
  <tbody>
    {{#each signin}}
    <tr>
      <td><a class="btn" onclick="lc('signindetail?cid={{course_id}}&sid={{sign_id}}')">{{time}}</a></td>
      <td><a class="btn" onclick="lc('coursedetail?cid={{course_id}}')">{{name}}</a></td>
      <td><a class="btn" onclick="lc('coursedetail?cid={{course_id}}')">{{stu_num}}</a></td>
      <td><a class="btn" onclick="lc('signindetail?cid={{course_id}}&sid={{sign_id}}')">{{sign_num}}</a></td>
      <td><a class="btn  btn-default" onclick="lc('signindetail?cid={{course_id}}&sid={{sign_id}}')">查看详细</a>
      <a class="btn  btn-default" target="_blank" href="/home/showqrcode?cid={{course_id}}&sid={{sign_id}}">显示二维码</a>
      <a class="btn btn-default" onclick="confirm('确定删除本次签到？本操作不可恢复')&&lc('deletesignin?cid={{course_id}}&sid={{sign_id}}')">删除</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>