{{#if signindetail}}
<table class="table table-striped">
  <thead>
    <tr>
      <th>学号</th>
      <th>姓名</th>
      <th>签到时间</th>
    </tr>
  </thead>
  <tbody>
    {{#each signindetail}}
    <tr>
      <td>{{stu_id}}</td>
      <td>{{name}}</td>
      <td>{{time}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<div class="jumbotron alert alert-info text-center" role="alert">
    <p>暂时还没有同学签到，点击<a target="_blank" href="/signin/showqrcode?cid={{course_id}}&sid={{signin_id}}">显示签到二维码</a></p>
</div>
{{/if}}