{{#if signin}}
<table class="table table-striped">
  <thead>
    <tr>
      <th>签到发起时间</th>
      <th>所属课程</th>
      <th>学生总数</th>
      <th>已签到</th>
      <th>查看和删除</th>
    </tr>
  </thead>
  <tbody>
    {{#each signin}}
    <tr>
      <td><a class="btn" href="#signindetail?cid={{course_id}}&sid={{sign_id}}">{{time}}</a></td>
      <td><a class="btn" href="#coursedetail?cid={{course_id}}">{{name}}</a></td>
      <td><a class="btn" href="#coursedetail?cid={{course_id}}">{{stu_num}}</a></td>
      <td><a class="btn" href="#signindetail?cid={{course_id}}&sid={{sign_id}}">{{sign_num}}</a></td>
      <td><a class="btn  btn-default" href="#signindetail?cid={{course_id}}&sid={{sign_id}}">查看详细</a>
      <a class="btn  btn-default" target="_blank" href="/signin/showqrcode?cid={{course_id}}&sid={{sign_id}}">显示二维码</a>
      <a class="btn btn-default" onclick="deleteConfirm('本次签到？','签到时间：{{time}}',()=>loadContent('deletesignin?cid={{course_id}}&sid={{sign_id}}'))">删除</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<div class="jumbotron alert alert-info text-center" role="alert">
    <p>还没有创建签到哦，点击课程右边的按钮开始签到吧</p>
</div>
{{/if}}